@model List<Princess_Connect.Data.FrameWork.SQL_Story>
@{
    ViewBag.Title = "Trang Chủ";
}

<div id="header-main">
    <div id="picture"> <img id="pic" src="~/Resource/wp5828620.png"></div>
    <div class="right-slide">
        <b>Top nhân vật <span style="color: rgb(192, 88, 88);">Tuần</span></b>
        <div id="list">
            <a href="#">
                <div id="top">
                    <img src="https://redive.estertion.win/icon/unit/100161.webp" alt="">
                    <p>Top 1</p>
                </div>
            </a>
            <a href="#">
                <div id="top">
                    <img src="https://redive.estertion.win/icon/unit/100361.webp" alt="">
                    <p>Top 2</p>
                </div>
            </a>
            <a href="#">
                <div id="top">
                    <img src="https://redive.estertion.win/icon/unit/100461.webp" alt="">
                    <p>Top 3</p>
                </div>
            </a>
        </div>
        <b>Top nhân vật <span style="color: rgb(192, 88, 88);">Tháng</span></b>
        <div id="list">
            <a href="#">
                <div id="top">
                    <img src="https://redive.estertion.win/icon/unit/100161.webp" alt="">
                    <p>Top 1</p>
                </div>
            </a>
            <a href="#">
                <div id="top">
                    <img src="https://redive.estertion.win/icon/unit/100361.webp" alt="">
                    <p>Top 2</p>
                </div>
            </a>
            <a href="#">
                <div id="top">
                    <img src="https://redive.estertion.win/icon/unit/100461.webp" alt="">
                    <p>Top 3</p>
                </div>
            </a>
        </div>
    </div>
</div>
<div id="main-content">
    <div id="content">
        @foreach (var guild in Model)
        {
            <p>Guild @guild.SQL_Character.Character_Name</p>
            <div id="guild-container">
                @foreach (var item in Model)
                {
                    if (item.SQL_Character.Character_Name.Equals(guild.SQL_Character.Character_Name))
                    {
                        <a style="text-decoration: none;" href="@Url.Action("ChiTiet", "Character", new { NV = item.SQL_Character.Character_Id })">
                            <img width="128" height="128" src="~/Image/@item.SQL_Character.Character_Picture" alt="@item.SQL_Character.Character_Name" />
                            <h3>@item.SQL_Character.Character_Name</h3>
                        </a>
                        @*<div>
                                <b>@item.SQL_Character.Character_Id</b>
                                <b>@item.SQL_Character.Character_Name</b>
                                <b>xin chào @item.SQL_Character.Character_Picture</b>

                                <b>@item.Character_Story</b>
                                <b>@item.Character_Picture_Story</b>
                            </div>*@
                    }
                }
            </div>
        }
    </div>
    <div id="right-content">
        <div id="visisted">
            <div id="count">Thống kê truy cập</div>
            <div id="visisted-right">
                <p id="visisted-header">Hôm nay</p>
            </div>
            <div id="visisted-left">
                <h4>100</h3>
            </div>
            <div id="visisted-right">
                <p id="visisted-header">Hôm qua</p>
            </div>
            <div id="visisted-left">
                <h4>200</h3>
            </div>
            <div id="visisted-right">
                <p id="visisted-header">Tuần này</p>
            </div>
            <div id="visisted-left">
                <h4>1025</h3>
            </div>
            <div id="visisted-right">
                <p id="visisted-header">Tháng này</p>
            </div>
            <div id="visisted-left">
                <h4>31,500</h4>
            </div>
            <div id="visisted-right">
                <p id="visisted-header">Tháng rồi</p>
            </div>
            <div id="visisted-left">
                <h4>100,000</h3>
            </div>
            <div id="visisted-pic">
                <img width="300" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f77a4946-8ae3-447e-884b-97fd0e1ddb57/ddv97kc-b1640659-8c21-4be1-b1cf-d5365497d6ba.png">
            </div>
        </div>
        <div id="facebook">
            <img width="200" src="https://toppng.com/public/uploads/thumbnail/comingsoon-gif-anime-coming-soo-11563392254fix75m2abj.png">
        </div>
    </div>
</div>
