@model Princess_Connect.Models.CreateModels
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
@Html.ValidationSummary(true, null)
@using (Html.BeginForm("Create", "Home", FormMethod.Post, new {enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(model => model.MaNhanVat)
        @Html.TextBoxFor(model => model.MaNhanVat, new { @class = "form-control", @placeholder = "Mã nhân vật", @autofocus = "autofocus" })
    </div>
    <div>
        @*có 2 cách để lập 1 là kiểu html thuần 2 là kiểu của asp.net*@
        <input class="form-control" type="text" name="TenNhanVat" required /> 
        @*@Html.TextBoxFor(model => model.TenNhanVat, new { @class = "form-control", @placeholder = "Tên nhân vật" })*@
    </div>
    <div>
        @*<input type="file" name="ImageFile" required />*@
        @Html.TextBoxFor(model=>model.ImageFile, new { @type="file", @name= "ImageFile" })
        @*@Html.TextBoxFor(model => model.HinhAnhNhanVat, new { @class = "form-control", @placeholder = "Hình ảnh nhân vật" })*@
    </div>
    <div>
        @Html.TextBoxFor(model => model.CotTruyen, new { @class = "form-control", @placeholder = "Cốt truyện" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.AnhCotTruyen, new { @class = "form-control", @placeholder = "Ảnh cốt truyện" })
    </div>
    <input type="submit" value="Tạo mới"></input>

}

